* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

header {
    padding: 10px;
    background-color: #22dd77;
}

header, main {
    padding-left: 20%;
    padding-right: 20%;
}

section {
    float: left;
    width: 33.3%;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}

button {
    margin-top: 10px;
    padding: 10px;
}

select {
    min-width: 150px;
    padding: 5px;
}

.loan-display, #btn-repay-loan {
    display: none;
}

.laptop-info-section {
    float: left;
    width: 37%;
    padding: 10px;
    font-size: 20px;
}

#laptop-display {
    display: none;
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
}

#laptop-image {
    width: 25%;
}

#features-section {
    height: 60%;
}

#laptop-features {
    font-size: 16px;
}

#purchase-section {
    height: 40%;
    float: right;
}

#owned-laptops-section {
    display: none;
}

#loan-popup, #purchase-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
    text-align: center;
}
